.flex-11-auto {
  flex: 1 1 auto;
}

.pl-5px {
  padding-left: 5px;
}

@mixin sidebar-menu-item-link() {
  background: rgba(82, 177, 249,.3);
  box-shadow: 1px 0px 5px -2px #095187;
  border-color: #FDB913;
}

.sidenav-content {
  > .mat-nav-list {
    > a.mat-list-item {
      color: #fff;
      font-size: 11px;
      border-right: 3px solid transparent;
      transition: all 0.3s ease-in-out;
      transition-property: color, border-right;
      &:hover {
        @include sidebar-menu-item-link();
      }
      &.active {
        @include sidebar-menu-item-link();
      }
    }
    .mat-divider {
      margin-bottom: 100px;
    }
  }
}
