<div *ngIf="data">
  <h3>Thông tin hồ sơ</h3>

  <div class="webdev-container">
    <div class="webdev-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="webdev-table-container">
      <table mat-table matSort [dataSource]="dataSource" class="webdev-mat-table" (matSortChange)="sortData($event)">

        <!-- losId Column -->
        <ng-container matColumnDef="losId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Số LOS </th>
          <td mat-cell *matCellDef="let element"> {{element.losId}} </td>
        </ng-container>

        <!-- <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col.field">
          <th mat-header-cell *matHeaderCellDef> {{ col.column }} </th>
          <td mat-cell *matCellDef="let element"> {{ element[col.field] }} </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="['losId']; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: ['losId']"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row row-no-data" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching</td>
        </tr>

      </table>
      <mat-paginator fixed [pageSizeOptions]="[5, 10, 20]" [pageSize]="pageSize" showFirstLastButtons (page)="pageChange($event)"
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</div>
