/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import 'flexbox';

// .ng-select .ng-select-container.ng-appearance-outline {
//   min-height: 58px;
// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Poppins", "Helvetica Neue", sans-serif; }

@mixin scollbar-custom() {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;

    &:hover {
      background: rgba(255, 255, 255, 0.9);
    }
  }
}

.mat-drawer-inner-container {
  @include scollbar-custom();
}

.padding-item {
  padding: 1.5rem 5rem
}

.mat-flat-button.mat-yellow,
.mat-raised-button.mat-yellow,
.mat-fab.mat-yellow,
.mat-mini-fab.mat-yellow {
  background-color: #FDB913;
}

.mat-flat-button.mat-yellow,
.mat-raised-button.mat-yellow,
.mat-fab.mat-yellow,
.mat-mini-fab.mat-yellow {
  color: #fff;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.display-flex {
  @include flexbox;
}

.outer-shell {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.container {
  padding: 50px 100px;
  width: 100%;
}

.shell-container {
  display: flex;
  flex-grow: 1;
}

form {
  width: 100%;
}

.button-row {
  margin-bottom: 10px;
  padding-right: 10px;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

[class*='flex-'] {
  padding-left: 10px;
  padding-right: 10px;
}

[class*='flex-']:first-child {
  padding-left: 0;
}

[class*='flex-']:nth-last-child(2) {
  padding-right: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

@media screen and (max-width: 575px) {
  .display-flex {
    flex-direction: column;
  }
  .container {
    padding: 5px!important;
  }
  [class*='flex-'] {
    padding-left: 5px!important;
    padding-right: 5px!important;
  }
}

@import "~@ng-select/ng-select/themes/material.theme.css";

.ng-select {
  padding-bottom: 1em;
}
.ng-select .ng-select-container {
  .ng-input {
    padding: 10px 10px 5px 10px;
  }
  .ng-value {
    padding: 5px;
  }
}
