<mat-sidenav-container class="wrapper-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-toolbar class="nav-header app-toolbar" role="heading" color="sidenav">
    </mat-toolbar>

    <div class="sidenav-back">
      <button mat-icon-button class="example-icon" aria-label="icon-button with menu icon" (click)="onBack()" [disabled]="!prevMenu">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
      </button>
    </div>

    <app-sidebar-menu [menuItems]="menuItems" (menuClick)="onMenuClick($event)"></app-sidebar-menu>

    <p class="nav-footer">&copy; 2021 - ngnam</p>

  </mat-sidenav>

  <mat-sidenav-content class="wrapper-content">
    <mat-toolbar class="app-header app-toolbar" role="heading" color="white">
      <button mat-icon-button class="example-icon" aria-label="icon-button with menu icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>#Page header title</span>
      <span class="margin-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="icon-button with heart icon">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="icon-button with share icon">
        <fa-icon [icon]="faUser"></fa-icon>
     </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
